[submodule "phaseret"]
	path = setup/phaseret
	url = git@github.com:AntoineDujardin/phaseret.git
[submodule "setup/pysingfel"]
	path = setup/pysingfel
	url = git@github.com:AntoineDujardin/pysingfel.git
